@model ScrumPoker.Models.PlayerCardModel

<div class="playerCardAndName">
    <div class="player card">
        <h3>@Model.CardValue</h3>
    </div>
    <h5 class="playerName">@Model.Name</h5>
</div>
