@model ScrumPoker.Models.PlayerCardModel

<div class="playerCardAndName">
    <div class="player card shadowSmall cardValueHidden" @(Model.MyCard ? "id=myCard" : "")>
        <h2></h2>
    </div>
    <h5 class="playerName">@Model.Player.Name</h5>
</div>
