@model ScrumPoker.Models.GameModel

@{
    ViewBag.Title = "Game Screen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navBar">
    <button id="newGame" class="navButton" asp-controller="" asp-action="">New Game</button>
    <img src="~/images/LogoChipOnly.png" alt="Scrum Poker Logo" class="navBarLogo"/>
    <button id="inviteButton" class="navButton inviteHidden" asp-controller="" asp-action="">Invite</button>
</div>
<div id="inviteWindow" class="inviteWindow shadowSmall">
    <p id="inviteLink">Invite link</p>
</div>
<div class="results">
    <div id="resultsBoard" class="resultsBoard shadowSmall">
        <div class="average">
            <h4>Average:</h4>
            <h1 id="averageValue"></h1>
        </div>
        <button class="showButton">Show</button>
    </div>
</div>
<div class="players">
    @foreach (var player in Model.Players)
    {
        @await Html.PartialAsync("_PlayerCard", player.Card)
    }
</div>
<div class="votingCards">
    <div class="votingCardsRow">
        @foreach (var cardValue in Model.VotingCardsTopRow)
        {
            @await Html.PartialAsync("_VotingCard", new VotingCardModel(cardValue))
        }
    </div>
    <div class="votingCardsRow">
        @foreach (var cardValue in Model.VotingCardsBottomRow)
        {
            @await Html.PartialAsync("_VotingCard", new VotingCardModel(cardValue))
        }
    </div>
</div>

@section scripts
{
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/game-signalr.js"></script>
}