@model ScrumPoker.Models.GameModel

@{
    ViewBag.Title = "Game Screen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navBar">
    <button id="newGame" class="navButton" asp-controller="" asp-action="">New Game</button>
    <button id="inviteButton" class="navButton inviteHidden" asp-controller="" asp-action="">Invite</button>
</div>
<div class="inviteWindow shadowSmall">
    <p>Invite link</p>
</div>
<div class="results">
    <div class="resultsBoard shadowSmall">
        <div class="average">
            <h4>Average:</h4>
            <h1 id="averageValue"></h1>
        </div>
        <button class="showButton">Show</button>
    </div>
</div>
<div class="players">
    @foreach (var player in Model.Players)
    {
        @Html.Partial("_PlayerCard", player.Card)
    }
</div>
<div class="votingCards">
    <div class="votingCardsRow">
        @foreach (var cardValue in Model.VotingCardsTopRow)
        {
            @Html.Partial("_VotingCard", new VotingCardModel(cardValue))
        }
    </div>
    <div class="votingCardsRow">
        @foreach (var cardValue in Model.VotingCardsBottomRow)
        {
            @Html.Partial("_VotingCard", new VotingCardModel(cardValue))
        }
    </div>
</div>