@{
    ViewBag.Title = "Join Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navBar">
</div>

<div class="startScreen">
    <div class="startScreenContent">
        <h3>Join Game</h3>
        <form class="startScreenForm" asp-controller="Home" asp-action="JoinGame">
            <input class="input formBorder"
                   type="text"
                   id="playerName"
                   name="playerName"
                   placeholder="Name">
            <input type="submit"
                   value="Join"
                   class="submitButton"/>
        </form>
    </div>
</div>

