@model ScrumPoker.Models.PlayerGameViewModel

@{
    ViewBag.Title = "New Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navBar">
</div>

<div class="startScreen">
    <div class="startScreenContent shadowSmall">
        <h3>New Game</h3>

        @using (var newGameForm = Html.BeginForm("StartGame", "Home", 
        FormMethod.Post, new { @class = "startScreenForm"}))
        {
            @Html.TextBoxFor(m => m.PlayerName, new { @class = "input formBorder" })

            @Html.DropDownListFor(
                m => m.VotingSystem,
                new SelectList(new List<string> { "1,2,3,5,8,13,21,34" }),
                new { @class = "input formBorder" })

            <input type="submit" value="Start" class="submitButton" />
        }


        @*<form class="startScreenForm" asp-controller="Home" asp-action="StartGame" method="post">
            <input class="input formBorder"
                   type="text"
                   id="playerName"
                   name="playerName"
                   placeholder="Name">
            <select class="input formBorder" placeholder="Voting System" id="votingSystem">
                <option value="1,2,3,5,8,13,21,34">1, 2, 3, 5, 8, 13, 21, 34</option>
            </select>
            <input type="submit"
                   value="Start"
                   class="submitButton" />*@
        @*</form>*@
    </div>
</div>

