@{
    ViewBag.Title = "New Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navBar">
    @*<button class="showButton" asp-controller="###controller###" asp-action="###method###">New Game</button>*@
    <button class="navButton" asp-controller="" asp-action="">New Game</button>
    <button class="navButton" asp-controller="" asp-action="">Invite</button>
</div>

<div class="">
    <h1>New Game</h1>
    <button>Start</button>
</div>
