:root {
    --pink: #E8AEB7;
    --lightBlue: #A9FFF7;
    --mediumBlue: #B8E1FF;
    --greyGreen: #82ABA1;
    --lightGreen: #94FBAB;
    --borderRadius: 10px;
    --borderWidthMedium: 5px;
    --borderWidthSmall: 3px;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1rem;
}

body {
    margin-bottom: 60px;
    background-color: #F6F1F1;
    height: 100%;
}

header {
    height: 5%;
}

nav {
    width: 100%;
    height: 100%;
    background-color: var(--lightBlue);
}

main {
    height: 95%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--pink);
}

.content {
    display: flex;
    flex-direction: row;
}

.results {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
}

.resultsBoard {
    background-color: var(--mediumBlue);
    width: 50%;
    height: 80%;
    margin: auto;
    border-radius: var(--borderRadius);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    border: solid;
    border-width: var(--borderWidthMedium);
    border-color: var(--lightBlue);
}

.average {
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showButton {
    background-color: var(--lightBlue);
    height: 25%;
    width: 25%;
    border: solid;
    border-width: var(--borderWidthSmall);
    border-radius: var(--borderRadius);
    border-color: var(--greyGreen);
    display: flex;
    align-content: center;
    justify-content: center;
}

.buttonText {
    height: 100%;
}

.players {
    width: 100%;
    height: 25%;
}

.votingCards {
    width: 100%;
    height: 50%;
}
